.imagewell {
  position: relative;
  border: 2px solid rgba(255, 255, 255, 0.1);
  overflow: hidden;
  cursor: pointer;
  display: inline-block;
  width: 100px;
  height: 100px;
  user-select: none;
}
.imagewell:hover {
  border-color: rgba(255, 255, 255, 0.4);
}
.imagewell.accept {
  border-style: dashed;
  border-color: #00b;
}
.imagewell:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 1px 2px 2px 0px rgba(0, 0, 0, 0.2), inset 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
}
.imagewell img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
html {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  color: #333;
  background: #eee;
}
html:not(.ready) {
  text-align: center;
  justify-content: center;
  align-items: center;
}
html:not(.ready):before {
  content: "Splining reticulation...";
  display: block;
  font-size: 150%;
  color: #777;
  animation: 800ms fade-in 500ms both;
}
html:not(.ready) body {
  display: none;
}
html,
html * {
  --title-color: #888;
  --gray-color: #666;
  --header-background-color: #e8e8e8;
}
@media (prefers-color-scheme: dark) {
  html {
    color: #aaa;
    background: #222;
  }
  html,
  html * {
    --title-color: #888;
    --gray-color: #666;
    --header-background-color: #2a2a2a;
  }
}
@media (prefers-color-scheme: light) {
  html.invert {
    color: #aaa;
    background: #222;
  }
  html.invert,
  html.invert * {
    --title-color: #888;
    --gray-color: #666;
    --header-background-color: #2a2a2a;
  }
}
@media (prefers-color-scheme: dark) {
  html.invert {
    color: #333;
    background: #eee;
  }
  html.invert,
  html.invert * {
    --title-color: #888;
    --gray-color: #666;
    --header-background-color: #e8e8e8;
  }
}
body {
  display: flex;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 10px;
  flex-direction: column;
}
a {
  color: #07d;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
header.appHeader {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  font-size: 90%;
  background: var(--header-background-color);
  padding: 5px;
  margin: 0 0 5px 0;
}
header.appHeader input {
  vertical-align: middle;
}
header.appHeader > label,
header.appHeader > div,
header.appHeader > select {
  margin-right: 4px;
}
header.appHeader input[type=range] {
  width: 120px;
}
@media screen and (max-width: 500px) {
  header.appHeader input[type=range] {
    width: 100px;
  }
}
header.appHeader > h1 {
  font-size: 150%;
  font-weight: 300;
  margin: 0;
  color: var(--title-color);
  text-transform: uppercase;
}
header.appHeader > h1 span {
  color: #a66;
  font-size: 120%;
}
header.appHeader > span {
  margin: 0 10px 0 5px;
  color: var(--gray-color);
  font-size: 80%;
}
header.appHeader > div.chooseImage {
  display: flex;
  align-items: center;
}
header.appHeader > div.chooseImage .imagewell {
  width: 40px;
  height: 40px;
  margin: 0 5px;
}
header.appHeader > .grow {
  flex-grow: 1;
}
header.appHeader > button.switchTheme {
  border: none;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  background: transparent;
  color: inherit;
  margin: 0 5px 0 0;
  padding: 0;
  font-size: 20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  filter: saturate(0) contrast(0);
}
header.appHeader > button.switchTheme:hover {
  background: rgba(128, 128, 128, 0.1);
}
main {
  flex-grow: 1;
  overflow: auto;
  height: 100%;
  width: 100%;
  display: grid;
  justify-content: safe center;
  align-items: safe center;
}
main pre {
  margin: 0;
  border: 0.5px solid rgba(128, 128, 128, 0.1);
  padding: 5px;
  position: relative;
}
main pre .copyToClipboard {
  display: block;
  width: 0;
  height: 0;
  position: sticky;
  left: 10px;
  bottom: 10px;
}
main pre .copyToClipboard > button {
  background: rgba(96, 96, 96, 0);
  color: rgba(255, 255, 255, 0);
  margin: 0;
  padding: 10px;
  line-height: 1;
  border-radius: 0;
  border: 0;
  cursor: pointer;
  position: absolute;
  left: 0;
  bottom: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 0.9rem;
  font-weight: inherit;
  text-transform: uppercase;
  transition: 300ms background-color, 300ms color;
}
main pre .copyToClipboard > button:before {
  position: absolute;
  content: "Copy to Clipboard";
  padding: 10px;
  left: 0;
  top: 0;
  background: #3d3;
  opacity: 0;
  color: white;
}
main pre .copyToClipboard > button.success:before {
  animation: 1500ms copyToClipboardSuccess both;
}
main pre .copyToClipboard > button.fail {
  animation: 400ms copyToClipboardFail;
}
@keyframes copyToClipboardSuccess {
  0% {
    opacity: 0.8;
  }
}
@keyframes copyToClipboardFail {
  0% {
    left: 0;
  }
  20% {
    left: 5px;
  }
  40% {
    left: -5px;
  }
  60% {
    left: 5px;
  }
  80% {
    left: -5px;
  }
  100% {
    left: 0;
  }
}
main pre:hover .copyToClipboard > button {
  background-color: rgba(96, 96, 96, 0.5);
  color: rgba(255, 255, 255, 0.5);
}
code {
  font-family: "Fairfax HD", monospace;
  line-height: 1;
}
@font-face {
  font-family: "Fairfax HD";
  src: url("FairfaxHD-subfont.woff2") format("woff2");
}
