.imagewell {
  position: relative;
  border: 2px solid rgba(255, 255, 255, 0.1);
  overflow: hidden;
  cursor: pointer;
  display: inline-block;
  width: 100px;
  height: 100px;
  user-select: none;
}
.imagewell:hover {
  border-color: rgba(255, 255, 255, 0.4);
}
.imagewell.accept {
  border-style: dashed;
  border-color: #00b;
}
.imagewell:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 1px 2px 2px 0px rgba(0, 0, 0, 0.2), inset 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
}
.imagewell img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
html {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  background: #eee;
  color: #333;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
}
html:not(.ready) {
  text-align: center;
  justify-content: center;
  align-items: center;
}
html:not(.ready):before {
  content: "Splining reticulation...";
  display: block;
  font-size: 150%;
  color: #777;
  animation: 800ms fade-in 500ms both;
}
html:not(.ready) body {
  display: none;
}
body {
  display: flex;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 10px;
  flex-direction: column;
}
a {
  color: #07d;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
header.appHeader {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 90%;
  background: #e8e8e8;
  padding: 5px;
  margin: 0 0 5px 0;
}
header.appHeader > h1 {
  font-size: 150%;
  font-weight: 300;
  margin: 0;
  color: #888;
  text-transform: uppercase;
}
header.appHeader > h1 span {
  color: #a66;
  font-size: 120%;
}
header.appHeader > span {
  margin: 0 10px 0 5px;
  color: #666;
  font-size: 80%;
}
header.appHeader > div.chooseImage {
  display: flex;
  align-items: center;
}
header.appHeader > div.chooseImage .imagewell {
  width: 40px;
  height: 40px;
  margin: 0 5px;
}
main {
  flex-grow: 1;
  overflow: auto;
}
main pre {
  margin: 0;
}
