.helpView {
    pointer-events: none;
    &.show { pointer-events: auto; }

    > .background {
        background: black;
        opacity: 0;
        transition: 350ms opacity;
        position: fixed;
        left: 0; top: 0; width: 100%; height: 100%;
    }

    &.show > .background { opacity: 0.5; }

    > .frame {
        background: var(--header-background-color);
        position: fixed;
        right: -300px; top: 0; width: 300px; height: 100%;
        transition: 350ms transform cubic-bezier(0.05, 0.2, 0.2, 1.0);
        box-sizing: border-box;

        padding: 15px;

        overflow-y: auto;
    }

    &.show > .frame { transform: translateX(-100%); }

    // Typography
    font-size: 90%;
    font-weight: 400;
    line-height: 1.3;
    h1 { font-size: 200%; font-weight: 300; text-align: center; }
    h2 { font-size: 150%; font-weight: 300; }

    // License information
    .packageNameAndLicense {
        font-size: 80%; margin: 0.3em 0 0;
        font-weight: 400;
        a {
            font-size: 140%;
            font-weight: 300;
        }
    }
    .packageAuthors { font-size: 80%; margin: 0.3em 0 0.3em; }
}

