@import "./imagewell.less";
@import "./helpview.less";

@keyframes fade-in { 0% {opacity: 0} 100% {opacity: 1} }

html {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;

    &:not(.ready) {
        &:before {
            content: "Splining reticulation...";
            display: block;
            font-size: 150%;
            color: #777;
            animation: 800ms fade-in 500ms both;
        }
        text-align: center;
        justify-content: center;
        align-items: center;

        body { display: none; }
    }

    .light() {
        color: #333;
        background: #eee;
        &, & * {
            --title-color: #888;
            --header-background-color: #e8e8e8;
        }
    }
    .dark() {
        color: #aaa;
        background: #222;
        &, & * {
            --title-color: #888;
            --header-background-color: #2a2a2a;
        }
    }
    .light();
    @media (prefers-color-scheme: dark) { .dark(); }
    &.invert {
        @media (prefers-color-scheme: light) { .dark(); }
        @media (prefers-color-scheme: dark) { .light(); }
    }
}

body {
    display: flex;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 10px;
    flex-direction: column;
}

a {
    color: #07d;
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }
}

.branding {
    font-weight: 300;
    color: var(--title-color);
    text-transform: uppercase;
    span { color: #a66; font-size: 120%; }
}

header.appHeader {
    flex-shrink: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    font-size: 90%;
    background: var(--header-background-color);
    padding: 5px;
    margin: 0 0 5px 0;

    input {
        vertical-align: middle;
    }
    > label, > div, > select {
        margin-right: 4px;
    }
    input[type=range] { width: 120px; }
    @media screen and (max-width: 500px) {
        input[type=range] { width: 100px; }
    }

    > h1 {
        font-size: 150%;
        margin: 0 8px 0 0;
    }
    > div.chooseImage {
        display: flex;
        align-items: center;

        .imagewell {
            width: 40px;
            height: 40px;
            margin: 0 5px;
        }
    }
    > .grow { flex-grow: 1; }
    > button {
        border: none;
        font-size: inherit;
        font-family: inherit;
        font-weight: inherit;
        background: transparent;
        color: inherit;
        margin: 0 5px 0 0; padding: 0;
        font-size: 20px;
        width: 40px; height: 40px;
        cursor: pointer;
        filter: saturate(0) contrast(0);
        &:hover {
            background: rgba(128, 128, 128, 0.1);
        }
    }
}

main {
    flex-grow: 1;
    overflow: auto;
    height: 100%;
    width: 100%;

    display: grid;
    justify-content: safe center;
    align-items: safe center;

    pre { 
        margin: 0;
        border: 0.5px solid rgba(128, 128, 128, 0.1);
        padding: 5px;

        position: relative;

        .copyToClipboard {
            display: block;
            width: 0;
            height: 0;
            position: sticky;
            left: 10px; bottom: 10px;

            > button {
                background: rgba(64, 64, 64, 0);
                color: rgba(230, 230, 230, 0);
                margin: 0; padding: 10px; line-height: 1;
                border-radius: 0;
                border: 0;
                cursor: pointer;

                position: absolute;
                left: 0; bottom: 0;

                font-family: 'Roboto', sans-serif;
                font-size: 0.9rem;
                font-weight: inherit;
                text-transform: uppercase;

                transition: 300ms background-color, 300ms color;

                // The "success" animation displays `&:before` for a brief moment.
                // It closely replicates the button's appearance except that the
                // background is bright green. Using this (instead of applying
                // the animation on the button itself) makes sure the animation
                // doesn't end right away when the mouse cursor leaves the
                // button's area.
                &:before {
                    position: absolute;
                    content: "Copy to Clipboard";
                    padding: 10px;
                    left: 0; top: 0;
                    background: #3d3;
                    opacity: 0;
                    color: white;
                }

                &.success:before { animation: 1500ms copyToClipboardSuccess both; }
                &.fail { animation: 400ms copyToClipboardFail; }

                @keyframes copyToClipboardSuccess {
                    0% { opacity: 0.8; }
                }
                @keyframes copyToClipboardFail {
                    0% { left: 0; }
                    20% { left: 5px; }
                    40% { left: -5px; }
                    60% { left: 5px; }
                    80% { left: -5px; }
                    100% { left: 0; }
                }
            }
        }
        &:hover .copyToClipboard > button {
            background-color: rgba(64, 64, 64, 0.6);
            color: rgba(230, 230, 230, 0.9);
        }
    }
}

code {
    font-family: "Fairfax HD", monospace;
    line-height: 1;
}

@font-face {
    font-family: "Fairfax HD";
    src: url("FairfaxHD-subfont.woff2") format("woff2");
}
